body{display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #0000ff;
}
img{
    border-radius: 100%;
    width: 180px;
    height: 180px;
    padding: 0.5em;
}
section{
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.301);
    padding: 0.5em;
    margin: auto;
    min-width: 500px;
    
}
h1{font-weight: 800;
color: #ffffff;}
footer{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3em;
    margin-top: 3px;
}